<div class="">
  <div class="row">
    <div class="col-md-12">
      <div class="card rounded-0">
        <div class="card-body background">
          <div class="d-flex">
            <a href="">Home /</a>
            <a class="ms-1">User /</a>
            <a class="ms-1 text-dark">Role Access</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container p-3">
  <div class="col-md-12">
    <div class="card circle shadow">
      <div class="card-body body-table">
        <div class="d-flex justify-content-between p-3">
          <div>
            <button
              type="button"
              class="btn btn-success rounded-pill"
              data-bs-toggle="modal"
              data-bs-target="#staticBackdrop"
            >
              <i class="fa-solid fa-plus me-2"></i>Add Role Access
            </button>
          </div>
          <div class="d-flex">
            <div class="input-group">
              <select class="form-select rounded-pill">
                <option selected>Export data</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div>
            <div class="input-group ms-3 me-3">
              <select class="form-select rounded-pill">
                <option selected>Short by:ID</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div>
          </div>
        </div>

        <div class="container mt-5">
          <div class="row">
            <div class="col-md-12">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Role Access</th>
                    <th scope="col">Status</th>
                    <th scope="col">Date</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">39842-231</th>
                    <td>Administrator</td>
                    <td>Active</td>
                    <td>20 Agust, 2023</td>
                    <td>
                      <a href="" class="text-success"
                        ><i class="fa-solid fa-eye fa-lg"></i
                      ></a>
                      <a href="" class="ms-3 text-warning"
                        ><i class="fa-solid fa-file-pen fa-lg"></i
                      ></a>
                      <a href="" class="ms-3 text-danger"
                        ><i class="fa-solid fa-trash-can fa-lg"></i
                      ></a>
                    </td>
                  </tr>
                </tbody>
              </table>
              <nav
                aria-label="..."
                class="mt-5 d-flex justify-content-center align-content-center"
              >
                <ul class="pagination pagination">
                  <li class="page-item active" aria-current="page">
                    <span class="page-link bg-success">1</span>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item"><a class="page-link" href="#">4</a></li>
                  <li class="page-item"><a class="page-link" href="#">4</a></li>
                  <li class="page-item">
                    <a class="page-link" href="#">...</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="#">20</a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="staticBackdrop"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">
          Add Role Access
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <div class="row">
            <div class="col-md-12">
              <h5 class="mb-4">Role Access Details</h5>
              <div class="col-md-6">
                <div class="form-group mb-3">
                  <label for="" class="form-label">Role Name</label>
                  <input type="text" class="form-control" />
                </div>
              </div>

              <div class="form-group">
                <label for="" class="form-label">Access</label>
              </div>
              <div class="form-group mb-3">
                <div class="row mb-3">
                  <div class="col-md-3">
                    <label for="" class="form-label">Request</label>
                  </div>
                  <div class="col-md-2">
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        value=""
                        id="flexCheckDefault"
                      />
                      <label class="form-check-label" for="flexCheckDefault">
                        All
                      </label>
                    </div>
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        value=""
                        id="flexCheckDefault"
                      />
                      <label class="form-check-label" for="flexCheckDefault">
                        Approve
                      </label>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        value=""
                        id="flexCheckDefault"
                      />
                      <label class="form-check-label" for="flexCheckDefault">
                        Create
                      </label>
                    </div>
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        value=""
                        id="flexCheckDefault"
                      />
                      <label class="form-check-label" for="flexCheckDefault">
                        Delete
                      </label>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        value=""
                        id="flexCheckDefault"
                      />
                      <label class="form-check-label" for="flexCheckDefault">
                        Update
                      </label>
                    </div>
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        value=""
                        id="flexCheckDefault"
                      />
                      <label class="form-check-label" for="flexCheckDefault">
                        View
                      </label>
                    </div>
                  </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-3">
                      <label for="" class="form-label">User Management</label>
                    </div>
                    <div class="col-md-2">
                      <div class="form-check">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          value=""
                          id="flexCheckDefault"
                        />
                        <label class="form-check-label" for="flexCheckDefault">
                          All
                        </label>
                      </div>
                      <div class="form-check">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          value=""
                          id="flexCheckDefault"
                        />
                        <label class="form-check-label" for="flexCheckDefault">
                          Approve
                        </label>
                      </div>
                    </div>
                    <div class="col-md-2">
                      <div class="form-check">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          value=""
                          id="flexCheckDefault"
                        />
                        <label class="form-check-label" for="flexCheckDefault">
                          Create
                        </label>
                      </div>
                      <div class="form-check">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          value=""
                          id="flexCheckDefault"
                        />
                        <label class="form-check-label" for="flexCheckDefault">
                          Delete
                        </label>
                      </div>
                    </div>
                    <div class="col-md-2">
                      <div class="form-check">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          value=""
                          id="flexCheckDefault"
                        />
                        <label class="form-check-label" for="flexCheckDefault">
                          Update
                        </label>
                      </div>
                      <div class="form-check">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          value=""
                          id="flexCheckDefault"
                        />
                        <label class="form-check-label" for="flexCheckDefault">
                          View
                        </label>
                      </div>
                    </div>
                  </div>

                <div class="row mb-3">
                    <div class="col-md-3">
                      <label for="" class="form-label">Report</label>
                    </div>
                    <div class="col-md-2">
                      <div class="form-check">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          value=""
                          id="flexCheckDefault"
                        />
                        <label class="form-check-label" for="flexCheckDefault">
                          All
                        </label>
                      </div>
                      <div class="form-check">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          value=""
                          id="flexCheckDefault"
                        />
                        <label class="form-check-label" for="flexCheckDefault">
                          Approve
                        </label>
                      </div>
                    </div>
                    <div class="col-md-2">
                      <div class="form-check">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          value=""
                          id="flexCheckDefault"
                        />
                        <label class="form-check-label" for="flexCheckDefault">
                          Create
                        </label>
                      </div>
                      <div class="form-check">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          value=""
                          id="flexCheckDefault"
                        />
                        <label class="form-check-label" for="flexCheckDefault">
                          Delete
                        </label>
                      </div>
                    </div>
                    <div class="col-md-2">
                      <div class="form-check">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          value=""
                          id="flexCheckDefault"
                        />
                        <label class="form-check-label" for="flexCheckDefault">
                          Update
                        </label>
                      </div>
                      <div class="form-check">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          value=""
                          id="flexCheckDefault"
                        />
                        <label class="form-check-label" for="flexCheckDefault">
                          View
                        </label>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
          Cancel Request
        </button>
        <button type="button" class="btn btn-success">Add Role Access</button>
      </div>
    </div>
  </div>
</div>
